<div id="snippets">
  <% $.each(snippets, function(id, s) { %>
    <div class="snippet-container">
      <h5><%= s.name %></h5>
      <div id="<%= id %>" class="snippet" style="width:<%= s.width * 5 %>">
        <table class="board">
          <% for (var y=0; y < s.height; y++) { %>
            <tr>
              <% for (var x=0; x < s.width; x++) { %>
                <% if (s.grid[y][x]) { %>
                  <td><div class="cell" style="background-color:red"></div></td>
                <% } else { %>
                  <td><div class="cell" style="background-color:white"></div></td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
  <% }) %>
</div>

<h4>Board</h4>
<div id="board-container">
  <table id="board" class="board">
    <% for (var y=0; y < height; y++) { %>
      <tr>
        <% for (var x=0; x < width; x++) { %>
          <td><div id="cell_<%= x %>_<%= y %>" class="cell"></div></td>
        <% } %>
      </tr>
    <% } %>
  </table>
</div>
