<div id="sidebar">
  <div id="colour-picker">
    <h4>Your colour</h4>
    <input id="colour" name="colour" type="color" value="<%= colour %>" data-text="hidden" data-hex="true" />
  </div>

  <div id="patterns">
    <h4>Patterns</h4>
    <% $.each(patterns,function(name, list) { %>
      <div class="pattern-section">
        <h5><%= name %></h5>
        <% $.each(list, function(i, s) { %>
          <div class="pattern-container">
            <h6><%= s.name %></h6>
            <div id="<%= s.id %>" class="pattern" align="center">
              <div class="board" style="width:<%= s.width * 5 + 1 %>px;height:<%= s.height * 5 + 1 %>px;">
                <% $.each(s.cells, function(i, cell) { %>
                  <div class="cell" style="left:<%= cell.x * 5 + 1 %>px;top:<%= cell.y * 5 + 1 %>px;background-color:<%= colour %>;"></div>
                <% }) %>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% }) %>
  </div>
</div>

<div id="content">
  <div id="board-container">
    <div id="board" class="board" style="width:<%= width * 5 + 1 %>px;height:<%= height * 5 + 1 %>px;"></div>
  </div>
</div>
